<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/static/styles/fonts.css">
	<link rel="stylesheet" href="/static/styles/layout.css">
</head>

<body>
	<h1>By Matthew Bub</h1>
	<p>Hi, I write about building web systems and sling micro-sized websites, sometimes.</p>

	<h2>Articles</h2>
	<ul>
		{{range .Articles}}
		<li>
			<a href="/articles/{{.ID}}">{{.Title}}</a>
		</li>
		{{end}}
	</ul>
	<footer>
		<ul>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/index">Index</a></li>
		</ul>
	</footer>
</body>

</html>
