<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/static/styles/fonts.css">
	<link rel="stylesheet" href="/static/styles/layout.css">
</head>

<body>
	<h1>{{.title}}</h1>
	<p>Internal tool for posting new content</p>
	<form action="/submit-post" method="post">
		<input type="text" name="title" placeholder="Title">
		<textarea name="content" placeholder="Content" rows="25"></textarea>
		<input type="submit" value="Submit">
	</form>

	<div id="response"></div>
</body>

</html>
